<h2><%= @vendor.name%></h2>
  Contact Name: <%= @vendor.contact_name%><br>
  Phone: <%= @vendor.contact_phone%><br>
  Credit Accepted: <%= @vendor.credit?%><br>
  Description: <%= @vendor.description %><br>