<h1><%= @market.name %><h1>
<h5>
  <%= @market.street %><br>
<%= @market.city %>, 
<%= @market.state %>
 <%= @market.zip%>
</h5>
Vendor Total: <%= @market.vendor_count %>

<h3> Registered Vendors: </h3>
  <% @vendors.each do |vendor| %>
    <%= link_to "#{vendor.name}", vendor_path(vendor) %>
  <% end %>
